.design-image-container {
    margin-bottom: 50px;
    max-height: 500px;
    box-sizing: border-box;
}

.design-image-container img {
    object-fit: cover;
    border: 1px solid #000
}

.mobile-design {
}

.mobile-row {
    display: flex;
}

.blog-list {
    padding-left: 20px;
    font-size: 16px;
    line-height: 30px;
}
